<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
</script>
<style>
  .header {
    margin: 0 auto;
    border-bottom: 1px solid #738EB9;
    text-align: center;
  }
</style>
<body>
<div id="includedContent">
  {% include 'layout.html' %}
</div>
<div class="header logo" stlye="border-bottom: 1px solid #738EB9;" >
    <nav class="logo_nav">
      <a class="logo_a" href="/"><img src="../static/image/Free-logo.png" alt="logo_img" width="125px"></a>
    </nav>
</div> 
</body>
</html>
