<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<link href="/static/info.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
<body>
<!-- 헤더 파일 -->
<header class="header">
    {% include 'header.html' %}
</header>
<!-- 메인 -->
<div class="content">
    <div class="content-op">
    </div>
    <div class="content-in">
        <!-- font -->
        <div class="content-wrap">
            <div class="content-text">
                <p class="p-1">장난감</p>
            </div>
        </div>
    </div>
</div>
<div class="content-2">
    <div class="inner">
        <form name="goSearch" method="get" class="toySearch_" action="search" >
            <div class="__schHead">
                    <select id="years_seq" name="age" class="__inp">
                        <option value="none">사용연령</option>
                        <option value=12>12개월 이상</option>
                        <option value=24>24개월 이상</option>
                        <option value=36>36개월 이상</option>
                        <option value=48>48개월 이상</option>
                        <option value=60>60개월 이상</option>
                        <option value="기타">기타</option>
                        <option value="전체연령">전체연령</option>
                    </select>
                <select id="toy_status" name="status" class="__inp">
                    <option value="none">대여상태</option>
                        <option value="대여가능">대여 가능</option>
                        <option value="예약중">예약중</option>
                </select>
                <input type="text" class="__inp" placeholder="장난감 이름/등록 번호" name="searchString" value="">
                <button type="submit">검색</button>
            </div>
        </form>
        <!-- 장난감 정렬  -->
        <div class="__topArea line __mt40">
            <div class="lef">
                <div class="sort">
                    <a href="#" id="defaultSort" class="active" onclick="changeActive('defaultSort'); sortByDefault();">업데이트순</a>
                    <a href="#" id="viewCountSort" onclick="changeActive('viewCountSort'); sortByViewCount();">조회순</a>
                </div>                          
            </div>
            <div class="rig">
                <div class="total">총 게시물 <span>{{ total_posts }}</span> 건</div>
            </div>
        </div>
        <!-- 장난감 상품 이미지 -->
        <div class="__toyList">
            {% for item in items %}
            <a href="{{ item['detail_url'] }}" class="box" onclick="increaseViewCount('{{ item['idx'] }}')">
                <div class="img"><img src="{{ item['img_src'] }}" width="150" height="150"></div>
                <div class="info">
                    <div>
                        <span class="subject">{{ item['name'] }}</span>
                        <span class="age">{{ item['age'] }}</span>
                    </div>
                    <div class="state">
                        {% if item['status'] == '대여가능' %}
                        <span class="__btn6 blue2">{{ item['status'] }}</span>
                        {% else %}
                        <span class="__btn6 gray2">{{ item['status'] }}</span>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        
        
    </div>
    <div class="page_number">
        <div class="page_style">
            <div class="page_inner">
                {% if total_posts > per_page %}
                    {% if page > 1 %}
                        <a class="arr num first" href="{{ url_for('info', page=1, per_page=per_page) }}"><img src="../static/image/2.png" class="left" alt="left_first"></a>
                        <a class="arr num prev" href="{{ url_for('info', page=page-1, per_page=per_page) }}"><img src="../static/image/2-.png" class="left" alt="left"></a>
                    {% endif %}
                    {% set start_page = 1 %}
                    {% set end_page = 11 %}
                    {% if total_posts // per_page < 10 %}
                        {% set end_page = total_posts // per_page + 1 %}
                    {% endif %}
                    {% if page > 5 %}
                        {% set start_page = page - 4 %}
                        {% set end_page = page + 5 %}
                        {% if end_page > total_posts // per_page + 1 %}
                            {% set end_page = total_posts // per_page + 1 %}
                            {% set start_page = end_page - 9 %}
                        {% endif %}
                    {% endif %}
                    {% for num in range(start_page, end_page) %}
                        <a class="num {% if num == page %}active{% endif %}" href="{{ url_for('info', page=num, per_page=per_page) }}">{{ num }}</a>
                    {% endfor %}
                    {% if total_posts // per_page > 1 and page < total_posts // per_page %}
                        <a class="arr num next" href="{{ url_for('info', page=page+1, per_page=per_page) }}"><img src="../static/image/1.png" class="right" alt="right" ></a>
                        <a class="arr num last" href="{{ url_for('info', page=total_posts // per_page + 1, per_page=per_page) }}"><img src="../static/image/1-.png" class="right" alt="right_last"></a>
                    {% endif %}
                {% endif %}
            </div>            
        </div>      
    </div>
</div>
<div id="item-id"></div>
<!-- 푸터 파일 -->
<header class="footer">
    {% include 'footer.html' %}
</header>    
<script>
    // JavaScript 코드를 여기에 직접 포함시키거나 외부 파일로 분리하여 링크할 수 있습니다.
    function changeActive(activeId) {
        // 모든 링크의 'active' 클래스 제거
        document.querySelectorAll('.sort a').forEach(link => {
            link.classList.remove('active');
        });

        // 선택된 링크에 'active' 클래스 추가
        document.getElementById(activeId).classList.add('active');
    }

    function sortByDefault() {
        sendSortRequest('default');
    }

    function sortByViewCount() {
        sendSortRequest('view_count');
    }

    function sendSortRequest(sortType) {
        fetch('/sort_items', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `sort_by=${sortType}`
        })
        .then(response => response.json())
        .then(data => {
            updateItems(data.items);
        })
        .catch(error => console.error('Error:', error));
    }

    function updateItems(items) {
        const toyList = document.querySelector('.__toyList');
        toyList.innerHTML = ''; // 기존 아이템들을 삭제
        items.forEach(item => {
            toyList.innerHTML += `
                <a href="${item['detail_url']}" class="box" onclick="increaseViewCount('${item['idx']}')">
                    <div class="img"><img src="${item['img_src']}" width="120" height="120"></div>
                    <div class="info">
                        <div>
                            <span class="subject">${item['name']}</span>
                            <span class="age">${item['age']}</span>
                        </div>
                        <div class="state">
                            ${item['status'] === '대여가능' ? '<span class="__btn6 blue2">' : '<span class="__btn6 gray2">'}${item['status']}</span>
                        </div>
                    </div>
                </a>`;
        });
    }
</script>
</body>
</html>